* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --first: rgba(68, 88, 119, 1);
  --second: rgba(146, 204, 206, 1);
  --third: rgba(49, 52, 61, 1);
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--first);
  line-height: 1.5;
}

/*------header------*/

header {
  padding: 15px 50px 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--third);
  box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
}

header h1 {
  color: var(--third);
  background-color: var(--second);
  padding: 5px 0.5% 5px 5%;
  font-size: 3vw;
  line-height: 1;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--second);
  margin-right: 10px;
  background-image: linear-gradient(
    270deg,
    var(--second) 0%,
    var(--second) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;
}

nav a:hover {
  background-size: 100% 100%;
  color: var(--first);
}

nav a:last-child {
  margin-right: 0;
}

/*------hero section------*/
.hero-banner {
  background-image: url("../images/eRwDMy.jpg"),
    linear-gradient(180deg, var(--second) 0%, var(--first) 100%);
  background-size: contain;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 30vh;
  padding: 2% 6%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.hero-banner div {
  flex: 0 0 90%;
}

.hero-banner h2 {
  background-color: var(--second);
  color: var(--third);
  margin: 0;
  padding: 5px 10px;
  font-size: 2.3rem;
  line-height: 1.2;
  display: inline;
}

/*-----about me section-----*/

.page-style {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.page-section > h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 17px;
  border-right: 4px solid var(--first);
  font-size: 3.3vw;
}

.page-section > div {
  flex: 0 0 75%;
}

.page-section p {
  margin-bottom: 30px;
}

/*------work section------*/

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  border: 5px solid var(--second);
  color: var(--third);
  min-height: 200px;
  max-height: 200px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-size: 100%;
}

.flex-item:first-child {
  min-height: 400px;
  flex-basis: 100%;
}

.flex-item:hover {
  color: rgb(54, 76, 189);
  opacity: 0.5;
  transition: all 0.25s ease-in;
}

.flex-item div {
  background-color: var(--second);
  padding: 8px 10px;
}

.flex-item h3 {
  font-size: 1.6rem;
}

.contact infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact infos a {
  color: var(--third);
  padding: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-style: normal;
  background-image: linear-gradient(270deg, var(--first) 0%, var(--first) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  margin: 0 0.2rem 0.1rem;
  display: inline-block;
}

.contact infos a:hover {
  background-size: 100% 88%;
  color: var(--second);
}

.weather-dashboard {
  background-image: url("../images/5-Best-Free-and-Paid-Weather-APIs-2019-e1587582023501.png");
}

.pass-gen {
  background-image: url("../images/password-900.jpg");
}

.code-quiz {
  background-image: url("../images/94703.webp");
}

.horiseon {
  background-image: url("../images/01-html-css-git-homework-demo.png");
}

.day-plan {
  background-image: url("../images/WeeklyDayPlannerInside.jpg");
}

.project1 {
  background-image: url("../images/Capturej.PNG");
}

.project2 {
  background-image: url("../images/Capture.PNG");
}

/*----media queries----*/

@media screen and (max-width: 980px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 8vw;
  }

  header nav {
    justify-content: center;
  }

  .page-section > h2,
  .page-section > div {
    flex: 0 0 100%;
  }

  .page-section > h2 {
    border-right: none;
    border-bottom: 4px solid var(--first);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 6vw;
  }
}

@media screen and (max-width: 768px) {
  .flex-item {
    flex-basis: 100%;
    min-height: 150px;
  }

  .hero-banner {
    justify-content: center;
    text-align: center;
  }

  .contact infos {
    flex-direction: column;
    align-items: flex-start;
  }
}
